<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{uid}}

    <center>
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
       
    </center>
    
</body>
</html>



